<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% if (title) { %>
    <h1>Hello <%= title%>,</h1>
  <%}%>

    <p>Welcome to the application.</p>
  </body>
</html>