<html>
<head>
<title>Login</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/login.css' />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
    <div class="row">
    <form action="/afterSignIn" method="post" class="afterSignIn">
	        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue</h1>
            <div class="account-wall">
            <div class="ptw90 center">
                <img class="profile-img" src="/images/loginPic.png" alt="">
                <input type="email" name="uname" id="uname" class="90ptw center form-control mb8" placeholder="Email" x-autocompletetype="username" autocomplete="off" required autofocus>
                <input type="password" name="pswrd" id="pswrd"  class="90ptw center form-control mb12" placeholder="Password" x-autocompletetype="" autocomplete="off" required>
                <button class="90ptw btn btn-lg btn-primary btn-block" type="submit"> Sign in </button>
               
                <span class="clearfix"></span>
            </div>
            </div>
            <a href="/signup" class="text-center new-account">Create an account </a>
        </div>
        </form>
    </div>
</div>
</body>

</html>